body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(227, 227, 227);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: #4819f4;
}

form{
    background-color: #fff;
    text-align: center;
    max-width: 350px;
    /* margin: auto; */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2rem;
    border: 2px solid hsla(0, 0%, 0%, 0.8);
    border-radius: 5px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5rem;
    font-weight: bold;
}

button{
    margin-top: 50px;
    background-color: hsl(32, 100%, 60%);
    font-size: 1.5rem;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: blue;
    cursor: pointer;
}

button:hover{
    background-color: hsl(32, 100%, 50%);
}

#result{
    font-size: 1.75rem;
    font-weight: bold;
}