body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter{
    border: 2px solid #000;
    padding: 2rem;
    border-radius: 1.25rem;
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
}
#btnContainer{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1.5625rem;
}

.button{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color:#fff;
    background-color: rgb(1, 1, 104);
    border-radius: 1.25rem;
    cursor: pointer;
    transition: all 0.25s;
    border: 2px solid orange;
}

.button:hover{
    background-color: blue;
}

.button--reset:hover{
    background-color: red;
}

.button--increase:hover {
    background-color: green;
}